.btn {
  font-family: var(--font-primary-semibold);
  background-color: var(--color-primary);
  color: var(--color-light);
  font-weight: var(--font-weight-semibold);
  border-radius: var(--rounded-sm);
  padding: 5px 15px;
  cursor: pointer;
}

.btn-add {
  font-size: var(--font-size-2xl);
  padding: 13px 23px 14px;
  gap: 5px;
}

.btn-edit,
.btn-remove {
  background: var(--color-light);
  cursor: pointer;
}
