.logo {
  font-family: var(--font-primary-bold);
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-2xl);
  color: var(--color-dark);
  letter-spacing: var(--spacing-xs);
}

.user-name {
  font-family: var(--font-primary-semibold);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

.user-email {
  font-size: var(--font-size-xs);
  color: var(--color-email);
}

.phone-number,
.create-date {
  font-size: var(--font-size-xs);
  color: var(--color-tertiary);
}

.user-role-tag {
  height: 26px;
  font-family: var(--font-primary-semibold);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--color-dashboard-description);
  border: 1px solid var(--color-secondary);
  background: var(--color-secondary);
  border-radius: var(--rounded-sm);
  padding: 5px 15px;
  max-width: 111px;
}

.user-role-admin {
  color: var(--color-light);
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.error-message {
  color: var(--color-error-message);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  padding: 5px 0;
}
