.sidebar-menu {
  background: var(--color-light);
  min-height: 100vh;
}

.nav-list {
  margin: 56px 0 64px;
  gap: 32px;
}

.nav-item {
  gap: 16px;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  letter-spacing: var(--spacing-lg);
  color: var(--color-text);
}

.nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-vertically {
  width: 4px;
  height: 48px;
  background: var(--color-primary);
  right: 0;
}

.nav-item-active {
  margin-bottom: 32px;
}

.nav-active {
  color: var(--color-primary);
  font-family: var(--font-primary-semibold);
  border-right: 4px solid var(--color-primary);
  height: 38px;
}
