.btn {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-tiny);
  color: var(--color-primary);
  border-radius: var(--border-radius-lg);
  border: 1px solid var(--bg-button);
  background-color: var(--bg-button);
  cursor: pointer;
}

.btn-remove-product,
.btn-search {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

.btn-list-favorites {
  border: 0;
  padding: 0;
  background: var(--color-primary);
}

.btn-favorite {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-round);
  width: 26px;
  height: 23px;
  padding: 7px;
  align-items: center;
  justify-content: center;
  left: 110px;
  top: 10px;
  cursor: pointer;
}

.btn-close-modal {
  color: var(--color-text);
  text-decoration: none;
  border: 0;
  padding: 0;
  background: var(--color-primary);
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 45px;
}

.btn-submit,
.btn-add-product {
  padding: 12px 50px;
}

.btn-add-product:hover {
  color: var(--color-hover);
  background-color: var(--color-primary);
  border: 1px solid var(--color-hover);
}

.btn-submit:hover {
  color: var(--color-hover);
  background-color: var(--color-primary);
  border: 1px solid var(--color-hover);
}

.btn-save {
  padding: 12px 30px;
  margin: 0 auto;
}

.btn-save:hover {
  color: var(--color-hover);
  background-color: var(--color-primary);
  border: 1px solid var(--color-hover);
}

.btn-remove-product {
  padding: 0;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
  }

  .btn-favorite {
    width: 50px;
    height: 45px;
    padding: 15px;
    left: 210px;
  }

  .btn-add-product {
    padding: 12px 77px;
  }

  .btn-close-modal {
    right: 80px;
  }
}
