.avatar-adm {
  width: 45px;
  height: 45px;
  background: var(--color-avatar);
  border-radius: var(--rounded-circle);
  border: 1px solid var(--color-avatar);
  margin-right: 16px;
}

.username-adm {
  font-family: var(--font-primary-semibold);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  letter-spacing: 0.4px;
}

.admin {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-md);
  letter-spacing: 0,4px;
  margin-right: 18px;
}

.hr-vertically {
  border: 1px solid var(--color-vertically);
  margin: 0 24px;
  height: 48px;
}
