.authen-page {
  background-color: var(--color-primary);
}

.authen-section {
  height: 100%;
}

.authen-content {
  width: 100%;
  border: 2px solid var(--color-border-auth);
  box-shadow: 0 0 40px var(--color-box-shadow-auth);
  padding: 32px;
  border-radius: var(--rounded-sm);
  background-color: var(--color-light);
}

.heading-auth {
  font-size: var(--font-size-2xl);
  text-align: center;
}

.header-btn-group {
  padding: 8px;
  background-color: var(--color-dark);
  border-radius: var(--rounded-sm);
  margin-top: 40px;
  margin-bottom: 60px;
}

.header-btn-group .active {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-secondary);
}

.header-auth {
  background-color: transparent;
  padding: 36px 0;
  top: 0;
}

.error-message {
  margin-top: 5px;
  color: var(--color-danger);
  font-size: var(--font-size-xs);
}

@media (min-width: 992px) {
  .authen-content {
    max-width: 576px;
  }

  .heading-auth {
    font-size: var(--font-size-4xl);
  }
}
