body {
  font-family: var(--font-primary);
  line-height: var(--line-height-sm);
  background: var(--color-background);
  color: var(--color-dark);
}

.d-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.container-side-nav {
  width: var(--width-side-navigation);
  padding: 40px 0 40px 32px;
}

.container-lg {
  width: var(--width-dashboard-content);
  padding: 31px 24px;
}

.sub-heading {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-2xl);
  font-family: var(--font-primary-semibold);
  letter-spacing: var(--spacing-xs);
  color: var(--color-dark);
}

.items-start {
  align-items: flex-start;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.min-h-screen {
  min-height: 100vh;
}
