:root {
  /* color */
  --color-primary: #09399a;
  --color-secondary: #eff4fa;
  --color-tertiary: #222b45;
  --color-dark: #0a0a0a;
  --color-light: #fff;
  --color-email: #657795;
  --color-background: #f5f5f5;
  --color-text: #595959;
  --color-avatar: #bfbfbf;
  --color-vertically: #c2c2c2;
  --color-dashboard-list: #eff4fa;
  --color-dashboard-content: #222b45;
  --color-dashboard-description: #4e5774;
  --color-dashboard-pagination: #707070;
  --color-modal: rgba(0, 0, 0, 0.5);
  --color-error-message: #ff0000;
  --color-btn-confirm-cancel: #e2e8f0;
  --color-btn-confirm-delete: #c53030;
  --color-role-tag: #1d6bf6;
  --color-clear-search: #fa9595;

  /* font family */
  --font-primary: OpenSans, san-serif;
  --font-primary-semibold: OpenSansSemibold, san-serif;
  --font-primary-bold: OpenSansBold, san-serif;

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* font size */
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-md: 14px;
  --font-size-lg: 15px;
  --font-size-xl: 16px;
  --font-size-2xl: 17px;
  --font-size-3xl: 20px;
  --font-size-4xl: 24px;

  /* line height */
  --line-height-xs: 15px;
  --line-height-sm: 16px;
  --line-height-md: 18px;
  --line-height-lg: 21px;
  --line-height-xl: 24px;
  --line-height-2xl: 30px;

  /* border radius */
  --rounded-xs: 4px;
  --rounded-sm: 8px;
  --rounded-md: 16px;
  --rounded-circle: 50%;

  /* letter spacing*/
  --spacing-xs: 0.15px;
  --spacing-sm: 0.25px;
  --spacing-md: 0.4px;
  --spacing-lg: 0.5px;

  /* width */
  --width-side-navigation: calc(
    254 * 100% / 1440
  ); /* 254px is width of side navigation according to design */
  --width-dashboard-content: calc(
    1186 * 100% / 1440
  ); /* 1186px is the width of the right content according to the design */
  --width-modal-content: calc(
    533 * 100% / 1440
  ); /* 533px is the width of the modal according to the design */

  /* Z Index */
  --z-index-sm: 1;
  --z-index-md: 10;
}
